@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --primary-color: #3467d6;
  --secondary-color: #d39510;
  --tertiary-color: #333;
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgb(198, 245, 255) 100%
  );
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  border-bottom: 1px solid var(--primary-color);
  width: 80%;
  margin-inline: auto;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 1.2rem;
  font-weight: 600;
}

nav ul li {
  padding: 1rem 1.5rem;
  border-radius: 0.5px;
  transition: background-color 0.2s;
  border-radius: 5px;
  cursor: pointer;
}

nav ul li:hover {
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
}

nav ul li:hover a {
  color: white;
}

ul {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

strong {
  color: var(--secondary-color);
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  margin: 0;
  padding: 2rem;
}

a {
  text-decoration: none;
  color: #333;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

input {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  border: #000000 1px solid;
}

button {
  padding: 1rem 2rem;
  border: none;
  background-color: #3467d6;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  transition: background-color 0.2s;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--primary-color);

  padding: 1rem;
  text-align: center;
  margin-top: auto;
  width: 80%;
  margin-inline: auto;
}

footer p {
  font-size: 1.1rem;
}

.social-media {
  display: flex;
  gap: 1rem;
}

.social-media > * {
  transition: opacity 0.3s ease;
}

.social-media > *:hover {
  opacity: 0.5;
}

.main-header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  box-shadow: unset;
  width: 100%;
}

.main-header-section a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.main-header-section a img {
  width: 50px;
  height: 50px;
  border-radius: 0;
  object-fit: contain;
}

.desc-p {
  max-width: 500px;
  font-size: 1.7rem;
  color: var(--primary-color);
  margin-top: 3rem;
}

.home {
  width: 80%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  justify-content: space-between;
  padding-block: 6rem;
}

.home > * {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  object-fit: cover;
  border-radius: 100%;
}

.welcome-image img {
  border-radius: unset;
  object-fit: contain;
}

.title {
  /* padding-left: 3rem; */
  /* text-align: center; */
  font-size: 5rem;
  display: flex;
  flex-direction: column;
}

.title h1 {
  font-size: 5rem;
  display: grid;
  margin: 0;
}

.text-title-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.text-title-container h1 .logo {
  padding-top: 1.5rem;
}

.logo {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 50px;
  height: 50px;
  border-radius: 0;
  object-fit: contain;
}

.logo[logo-title] {
  font-size: 5rem;
}

.recipes-section {
  background-color: white;
  padding-block: 6rem;
  text-align: center;
}

.recipes-section-heading {
  color: var(--secondary-color);
  padding: 0.5rem;
}

.recipes-section p {
  font-size: 1.5rem;
  color: var(--tertiary-color);
}

.recipes {
  width: 80%;
  margin-inline: auto;
  padding-block: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.video-section {
  width: 80%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-block: 5rem;
}

.video-section-heading {
  color: var(--secondary-color);
}

.video-section iframe {
  max-width: 70%;
  height: 500px;
}

@media (width <= 1270) {
  .video-section iframe {
    width: 100%;
    height: 500px;
  }
}

.recipe-card {
  margin: 2rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe-card > img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 0;
  border-radius: 1rem 1rem 0 0;
}

.recipe-card > .card-content {
  padding: 1rem;
}

.card-cta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-cta > * {
  width: 80%;
  margin-block: 1.5rem;
}

.card-cta button {
  width: 100%;
}

.card-cta button:hover {
  background-color: #d39510;
}

.card-content h3 {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin: 0;
}

.card-content p {
  font-size: 1.2rem;
  color: #333;
}

/*  */
.transparent {
  background-color: transparent;
}

.full-h {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*  */

.recipe-details-page {
  width: 80%;
  margin-inline: auto;
  padding-block: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.recipe-details-page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  text-align: center;
  gap: 5rem;
}

.recipe-details-page-header h1 {
  font-size: 4rem;
}

.recipe-details-page-body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.recipe-details-page-body h2 {
  color: var(--primary-color);
  font-size: 2rem;
  padding: 0;
}

.Ingredients,
.Instructions {
  width: 50%;
}

.ingredients {
  width: 50%;
  display: flex;
}

.Ingredients > ul {
  list-style: none;
  flex-direction: column;
  gap: 1.2rem;
}

.Ingredients > ul > li {
  font-size: 1.2rem;
}

ol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.2rem;
}

.about-section {
  width: 60%;
  margin-inline: auto;
  padding-block: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.about-section h1 {
  font-size: 3rem;
}

.about-section p {
  font-size: 1.2rem;
  color: var(--tertiary-color);
}

.contact-section {
  width: 60%;
  margin-inline: auto;
  padding-block: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contact-section h1 {
  font-size: 3rem;
}

.contact-section h3 {
  font-size: 2rem;
}

.contact-section p {
  font-size: 1.2rem;
  color: var(--tertiary-color);
}
